body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212428;
  color: #c4cfde;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  color: #c4cfde!important;
}
.navbar-toggler:focus{
  box-shadow: none;
}
.navbar-toggler{
  border: none;
}
.navbar{
  background-color: rgba(33, 36, 40, 0.8705882353)!important;
  color: #c4cfde;
  height: 122px;
  transition:1s;
}
.topnavbar{
  background-color: rgba(33, 36, 40, 0.8705882353)!important;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    backdrop-filter: blur(15px);
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
}
.App{
  height: 141vh;
}